.contenedor {
    border-top: 15px solid rgb(242, 17, 112);
    border-bottom: 15px solid rgb(80, 203, 147);
    border-right: 15px solid rgb(255, 82, 0);
    border-left: 15px solid rgb(114, 20, 126);
}